@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #D3D3D3;
    margin-top: 110px;
    text-align: center;
    min-height: 100%;
}
html {
    height: 100%;
}


/*---------------------------Header---------------------------*/

.box-area {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.logo {
    position: relative;
    top: 0px;
    left: -300px;
    width: 25%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 20px;
    font-family: poppins;
    color: #fff;
    letter-spacing: 3px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    top: 0px;
    left: 250px;
    position: relative;
    width: 50%;
    text-decoration: none;
    font-family: poppins;
    letter-spacing: 4px;
    font-size: 14px;
    margin: 0 10px;
    color: #fff;
}


/*---------------------------MainCore---------------------------*/
img{
    max-width: 500px;
}

#table1-image{
        width: 100%;
        margin: auto;
}

figcaption {
    background-color: #262626;
    color: whitesmoke;
    font: italic smaller sans-serif;
    padding: 0.9%;
    margin: 0.9%;
    text-align: center;
    font-size: medium;
    
}


figure {
  flex-flow: column wrap;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  padding: 0.9%;
}
p{
    margin-right: 100px;
  margin-left: 100px;
}

h1{
    display: inline-block;
    top: 20px;
    font-weight: bold;
    font-size: 90px;
    color: #444442 ;
    padding-top: -80px;
}

.maps{
    display: block;
  margin-left: auto;
  margin-right: auto;
}


/*-------------------------footer-------------------------*/

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



